.custom {
  width: 50%;
  height: 100%;
}

.tableFixHead {
  overflow: auto;
  height: 300px;
  width: 1100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: orange;
}

table {
  table-layout: fixed;
}

td,
th {
  /* width: 50px; */
  /* height: 50px; */
  word-wrap: break-word;
}

.snackbar-success {
  background-color: green;
  color: white !important;
  max-width: 1000px;
}

.snackbar-error {
  background-color: red;
  color: white !important;
  max-width: 1000px;
}