<h1 class="display-1 fw-bold" style="text-align: center; color: blueviolet; font-family: 'Times New Roman', Times, serif; padding-top: 10px;">Registered Users</h1>
<ol style="padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 50px;" class="list-group list-group-numbered">
  <li *ngFor="let u of users, index as i"   class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{u.firstname}}</div>
      {{u.email}}
    </div>
    <button type="button" (click)="deleteUser(u, i)" class="btn btn-outline-danger">Delete</button>
  </li>
</ol>