* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.center {
    margin: auto;
    width: 55%;
    /* border: 3px solid green; */
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
select {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=date],
select {
    width: 100%;
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=email],
select {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* input[type=tel],
select {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

button[type=submit] {
    width: 25%;
    background-color: #55b7d4;
    color: white;
    padding: 7px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #ddd;
    color: black;
}

/* a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
 }

a:hover {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: #2417e4;
    color: white;
    width: 25%;
    border-radius: 4px;
} */