<div class="container-fluid bg-dark text-center"
    style="color: white; border-style: solid;border-color:rgb(0, 255, 191);">
    <figure class="py-5">
        <blockquote class="blockquote">
            <p class="fs-3">To-Do List</p>
        </blockquote>
        <figcaption class="blockquote-footer fs-5">
            Add or Remove your Todo Item here
        </figcaption>
    </figure>
    <div class="input-group input-group-lg py-3" style="width: 80%;">
        <span class="input-group-text" id="inputGroup-sizing-lg">Enter Todo</span>
        <input #todoItem type="text" style="border-style: solid;border-color:aqua;" placeholder="Enter your todo's here"
            class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button type="button" (click)="addTodo(todoItem.value)" class="btn btn-outline-success mx-5"
            style="border-style: solid; border-radius: 10px;">Add
            Todo</button>
    </div>
</div>