.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('../../../assets/login-image.jfif');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .snackbar-success {
    background-color: green;
    color: white !important;
    max-width: 1000px;
  }

  .snackbar-error {
    background-color: red;
    color: white !important;
    max-width: 1000px;
  }