<div class="container center p-3">
    <h2 class="text-center fs-3">Search Book</h2>
    <form [formGroup]="SearchForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="row">
                <div class="column">
                    <label for="title">Title</label>
                    <br />
                    <input type="text" [(ngModel)]="filter.title" id="title" class="form-control" name="title"
                        placeholder="Enter your title" formControlName="title"
                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }" pattern="[A-Za-z ]{1,32}"
                        title="Title should contains alphabets only">
                    <!-- <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                        <div *ngIf="f.title.errors.pattern">Title must be a valid title</div>
                    </div> -->
                </div>
                <div class="column">
                    <label for="category">Category</label>
                    <br />
                    <input type="text" [(ngModel)]="filter.category" id="category" class="form-control" name="category"
                        placeholder="Enter your category" formControlName="category"
                        [ngClass]="{ 'is-invalid': submitted && f.category.errors }" pattern="[A-Za-z ]{1,32}"
                        title="category should contains alphabets only">
                    <!-- <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                        <div *ngIf="f.category.errors.pattern">Category must be a valid category</div>
                    </div> -->
                </div>
                <div class="column">
                    <label for="price">Price</label>
                    <br />
                    <input type="number" [(ngModel)]="filter.price" id="price" class="form-control" name="price"
                        placeholder="Enter your price" formControlName="price"
                        [ngClass]="{ 'is-invalid': submitted && f.price.errors }" pattern="[0-9]{1,4}"
                        title="price should contains numbers only">
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.price.errors.required">price is required</div>
                        <div *ngIf="f.price.errors.pattern">price must be a valid price</div> -->
                    </div>
                </div>
                <div class="column">
                    <label for="author">Author</label>
                    <br />
                    <input type="text" [(ngModel)]="filter.author" id="author" class="form-control" name="author"
                        placeholder="Enter author" formControlName="author"
                        [ngClass]="{ 'is-invalid': submitted && f.author.errors }" pattern="[A-Za-z ]{1,32}"
                        title="author should contains alphabets only">
                    <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.author.errors.required">author is required</div>
                        <div *ngIf="f.author.errors.pattern">author must be a valid author</div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pb-3 text-center">
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Search Items-->
<div class="container-fluid ps-md-0">
    <div class="container-fluid search p-3 mx-1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let b of books, index as i">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../../assets/book-image.jfif" class="img-fluid rounded-start" alt="book"
                                style="height: 100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fs-6 badge bg-primary text-wrap">{{b.title}}</h5>
                                <p class="card-text">Author: {{b.author}}</p>
                                <p class="card-text">Category: {{b.category}}</p>
                                <p class="card-text">Price: {{b.price}}</p>
                                <p class="card-text"><button type="button" class="btn btn-outline-success btn-sm"
                                        (click)="subscribeBook(b)" [disabled]="!enable">Subscribe</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>