<div style="background-color: rgb(28, 31, 31); color: white">
    <a class="navbar-brand fs-4" href="#">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/006/800/199/small/creative-abstract-book-feather-logo-design-vector.jpg"
            alt="Logo" width="90" height="72" class="d-inline-block">
    </a>
    <a class="navbar-brand align-text-center fs-4 fst-italic fw-bolder" href="#">Digital</a>
    <a class="navbar-brand align-text-center fs-4 fst-italic fw-bolder" style="color: orange;" href="#">Books</a>
</div>
<app-navbar></app-navbar>
<app-home></app-home>
<router-outlet></router-outlet>
<div style="text-align: center; background-color: rgb(28, 31, 31); color: whitesmoke">
    <h3 style="padding-top: 10px;">Copyright © 2022. All rights reserved.</h3>
    <p style="padding-bottom: 10px;">html | css | js | boostrap</p>
</div>