<nav class="navbar navbar-expand-lg bg-light" style="border-color: grey; border-style: groove">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User Registration Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">Contact us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>






<!-- <div>
    <button mat-button [matMenuTriggerFor]="menu">Login</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Sign-in</button>
  <button mat-menu-item>Sign-up</button>
</mat-menu>
</div> -->

