<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/e-green-book.png" alt="Logo" width="60" height="48" class="d-inline-block align-text-center">
            DIGITAL BOOKS
          </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>