<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid p-2">
    <h1 class="fs-5" *ngIf="role === ''"
      style="color: green; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Welcome! You are visting our website as guest !. Please sign-in or sign-up if you want to explore features.</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item fs-6">
          <a class="nav-link active" *ngIf="role === 'AUTHOR'" aria-current="page" routerLink="add-book">AddBook</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" *ngIf="role === 'AUTHOR'" routerLink="author/view-book">YourLibrary</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" *ngIf="role === 'READER'" routerLink="reader/subscribed-book">SubscribedBooks</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item fs-6">
            <a class="nav-link" *ngIf="role === 'READER' || role === 'AUTHOR'" routerLink="" (click)="signOut()">Sign
              out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>