<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid p-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item fs-6">
          <a class="nav-link active" aria-current="page" routerLink="add-book">AddBook</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link" routerLink="author/view-book">YourLibrary</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link">SubscribedBooks</a>
        </li>
        <li class="nav-item fs-6">
          <a class="nav-link">SubscribtionHistory</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <button type="button" class="btn btn-primary">
            Notifications <span class="badge text-bg-danger">4</span>
          </button>
        </ul>
      </div>
    </div>
  </div>
</nav>