<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto text-center">
                            <h1 class="fs-3"
                                style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                Find your favorite books here</h1>
                            <figure class="text-center px-3 py-2 fst-italic">
                                <blockquote class="blockquote">
                                    <p>"Books are, let's face it, better than everything else. If we played Cultural
                                        Fantasy Boxing
                                        League, and made books go fifteen rounds in the ring against the best that any
                                        other art form
                                        had to offer, then books would win pretty much every time."</p>
                                </blockquote>
                                <figcaption class="blockquote-footer p-1 text-end">
                                    - by Nick Hornby
                                </figcaption>
                            </figure>
                            <img src="../../../assets/home-human.jfif" alt="boy with book">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>