* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 10px;
}

.center {
    margin: auto;
    width: 100%;
    /* border: 3px solid green; */
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.c-column {
    float: center;
    width: 100%;
    padding: 10px;
}

.search {
    min-height: 80vh;
    overflow-y: scroll;
    height: 80vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
    height: 35px;
    font: 1em sans-serif;
}

/* button[type=submit] {
    width: 20%;
    background-color: #55b7d4;
    color: white;
    padding: 7px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #ddd;
    color: black;
} */

.snackbar-success {
    background-color: green;
    color: white !important;
    max-width: 1000px;
  }
 
  .snackbar-error {
    background-color: red;
    color: white !important;
    max-width: 1000px;
  }