<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" style="background-color: rgb(28, 31, 31);">
        <a class="navbar-brand fs-4" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Y022SdU_AtRqZBoALjWikMXGP0Czj5eaGA&usqp=CAU" alt="Logo" width="60" height="48" class="d-inline-block">
            <!-- <font class="fs-4 fst-italic fw-bolder" style="color: white;">Digital</font> -->
            <font color="#FF2626">D</font>
            <font color="#FF9966">i</font>
            <font color="#00C1D4">g</font>
            <font color="#FFD523">i</font>
            <font color="#71EFA3">t</font>
            <font color="#0F52BA">a</font>
            <font color="#66CC66">l</font>
            <font class="fs-5 fst-italic fw-bolder" style="color: orange;">Books</font>
        </a>
        <div class="d-flex">
            <a class="navbar-brand fs-6" routerLink="">Home</a>
            <a class="navbar-brand fs-6" routerLink="search-books">Search Books</a>
            <a class="navbar-brand fs-6" routerLink="login">login</a>
            <a class="navbar-brand fs-6" routerLink="signup">Signup</a>
        </div>
    </div>
</nav>