<div class="container-fluid ps-md-0 custom scroll" class="p-3">
    <div class="text-center p-0">
        <h2 class="fs-5 text-decoration-underline">All Available Books</h2>
    </div>
    <div class="text-end p-2">
        <button type="button" (click)="sortBooks()" class="btn btn-outline-warning mx-2">SortByPrice</button>
        <button type="button" (click)="getAllBooks()" class="btn btn-outline-info">Refresh</button>
    </div>
    <table class="table table-striped align-middle">
        <thead>
            <tr class="fs-6">
                <th scope="col">S.No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">published Date</th>
                <th scope="col">Creation Time</th>
                <th scope="col">Action</th>
                <th scope="col">Content Type</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody *ngFor="let b of books, index as i">
            <tr class="fs-6">
                <th scope="row">{{i+1}}</th>
                <td>{{b.title}}</td>
                <td>{{b.description}}</td>
                <td>{{b.price}}</td>
                <td>{{b.author}}</td>
                <td>{{b.publishedDate}}</td>
                <td>
                    <button type="button" (click)="deleteBook(b, i)" class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>