<div class="container-fluid ps-md-0 custom" class="p-3">
    <div class="text-center pt-2">
        <h2 class="fs-5 text-decoration-underline">All Available Books</h2>
    </div>
    <div class="text-end p-2">
        <button type="button" (click)="sortBooks()" class="btn btn-outline-warning mx-2">SortByPrice</button>
        <button type="button" (click)="getAllBooks()" class="btn btn-outline-info">Refresh</button>
    </div>
    <div class="container-fluid tableFixHead">
        <table class="table table-striped align-middle">
            <thead>
                <tr class="fs-6">
                    <th scope="col">S.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">published Date</th>
                    <th scope="col">Creation Time</th>
                    <th scope="col">Active</th>
                    <th class="text-center" scope="col">Content</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let b of books, index as i">
                <tr class="fs-6">
                    <th scope="row">{{i+1}}</th>
                    <td>{{b.title}}</td>
                    <td>{{b.description}}</td>
                    <td>{{b.category}}</td>
                    <td>{{b.price}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.publishedDate}}</td>
                    <td>{{b.createdTime}}</td>
                    <td>{{b.isActive}}</td>
                    <td class="text-center">
                        <ul class="list-group" *ngFor="let c of b.bookContentDetails, index as i">
                            <li class="list-group-item">{{c.contentType}}:
                                <a href={{c.content}} target="_blank">{{c.content}}</a>
                            </li>
                        </ul>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-danger m-1 px-3">Block</button><br />
                        <button type="button" class="btn btn-outline-success m-1">Active</button>
                        <!-- <button type="button" (click)="deleteBook(b, i)" class="btn btn-outline-danger">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>