<div class="container center p-5">
    <h2 class="text-center fs-3">Add Book</h2>
    <!-- <form id="form1" action="./thankyou.html"> -->
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div>
            <h4 class="fs-5">Book Details</h4>
            <div class="row">
                <div class="column">
                    <label for="logo">Logo</label>
                    <br />
                    <input type="file" (change)="onFileChange($event)" accept="image/*" id="logo" class="form-control" name="logo"
                        placeholder="Enter your category" formControlName="logo">
                </div>
                <div class="column">
                    <label for="title">Title</label>
                    <br />
                    <input type="text" [(ngModel)]="book.title" id="title" class="form-control" name="title"
                        placeholder="Enter your title" formControlName="title"
                        [ngClass]="{ 'is-invalid': submitted && f.title.errors }" pattern="[A-Za-z ]{3,32}"
                        title="Title should contains alphabets only">
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                        <div *ngIf="f.title.errors.pattern">Title must be a valid title</div>
                    </div>
                </div>
                <div class="column">
                    <label for="description">Description</label>
                    <br />
                    <input type="text" [(ngModel)]="book.description" id="description" class="form-control"
                        name="description" placeholder="Enter your description" formControlName="description"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }" pattern="[A-Za-z ]{3,32}"
                        title="description should contains alphabets only">
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                        <div *ngIf="f.description.errors.pattern">Description must be a valid description</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="category">Category</label>
                    <br />
                    <input type="text" [(ngModel)]="book.category" id="category" class="form-control" name="category"
                        placeholder="Enter your category" formControlName="category"
                        [ngClass]="{ 'is-invalid': submitted && f.category.errors }" pattern="[A-Za-z ]{3,32}"
                        title="category should contains alphabets only">
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                        <div *ngIf="f.category.errors.pattern">Category must be a valid category</div>
                    </div>
                </div>
                <div class="column">
                    <label for="price">Price</label>
                    <br />
                    <input type="number" [(ngModel)]="book.price" id="price" class="form-control" name="price"
                        placeholder="Enter your price" formControlName="price"
                        [ngClass]="{ 'is-invalid': submitted && f.price.errors }" pattern="[0-9]{1,4}"
                        title="price should contains numbers only">
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">price is required</div>
                        <div *ngIf="f.price.errors.pattern">price must be a valid price</div>
                    </div>
                </div>
                <div class="column">
                    <label for="author">Author</label>
                    <br />
                    <input type="text" [(ngModel)]="book.author" id="author" class="form-control" name="author"
                        placeholder="Enter author" formControlName="author"
                        [ngClass]="{ 'is-invalid': submitted && f.author.errors }" pattern="[A-Za-z ]{3,32}"
                        title="author should contains alphabets only">
                    <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
                        <div *ngIf="f.author.errors.required">author is required</div>
                        <div *ngIf="f.author.errors.pattern">author must be a valid author</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h4 class="fs-5">Publisher Details</h4>
            <div class="row">
                <div class="column">
                    <label for="publisher">Publisher</label>
                    <br />
                    <input type="text" [(ngModel)]="book.publisher" id="publisher" class="form-control" name="publisher"
                        placeholder="Enter publisher" formControlName="publisher"
                        [ngClass]="{ 'is-invalid': submitted && f.publisher.errors }" pattern="[A-Za-z ]{3,32}"
                        title="publisher should contains alphabets only">
                    <div *ngIf="submitted && f.publisher.errors" class="invalid-feedback">
                        <div *ngIf="f.publisher.errors.required">publisher is required</div>
                        <div *ngIf="f.publisher.errors.pattern">publisher must be a valid publisher</div>
                    </div>
                </div>
                <div class="column">
                    <label for="publishedDate">Published Date</label>
                    <br />
                    <input type="date" [(ngModel)]="book.publishedDate" id="publishedDate" class="form-control"
                        name="publishedDate" placeholder="Enter publishedDate" formControlName="publishedDate"
                        title="publishedDate should contains alphabets only">
                    <!-- <div *ngIf="submitted && f.publishedDate.errors" class="invalid-feedback">
                        <div *ngIf="f.publishedDate.errors.required">publishedDate is required</div>
                    </div> -->
                </div>
                <div class="column">
                    <label for="isActive">Book Status</label>
                    <select formControlName="isActive" [(ngModel)]="book.isActive" class="form-control form-select">
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">Block</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <h4 class="fs-5">Content Details</h4>
                <div class="column">
                    <label for="contentType">Content Type</label>
                    <br />
                    <input type="text" [(ngModel)]="bookContent.contentType" id="contentType" class="form-control"
                        name="contentType" placeholder="Enter contentType" formControlName="contentType"
                        [ngClass]="{ 'is-invalid': submitted && f.contentType.errors }" pattern="[A-Za-z ]{3,32}">
                    <div *ngIf="submitted && f.contentType.errors" class="invalid-feedback">
                        <div *ngIf="f.contentType.errors.required">contentType is required</div>
                        <div *ngIf="f.contentType.errors.pattern">contentType must be a valid contentType</div>
                    </div>
                </div>
                <div class="c-column">
                    <label for="content">Content</label>
                    <br />
                    <input type="text" [(ngModel)]="bookContent.content" id="content" class="form-control"
                        name="content" placeholder="Enter your content link here" formControlName="content"
                        [ngClass]="{ 'is-invalid': submitted && f.content.errors }" pattern="[A-Za-z0-9 ]{3,100}">
                    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                        <div *ngIf="f.content.errors.required">content is required</div>
                        <div *ngIf="f.content.errors.pattern">content must be a valid content</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-3">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>