<app-navbar></app-navbar>
<h1 class="display-1 fw-bold" style="text-align: center; color: blueviolet; font-family: 'Times New Roman', Times, serif; padding-top: 10px;">Welcome to Angular Application</h1>
<router-outlet></router-outlet>
<div style="text-align: center; background-color: rgb(28, 31, 31); color: whitesmoke">
    <h3 style="padding-top: 10px;">Learn Angular - Languages used</h3>
    <p style="padding-bottom: 10px;">html | css | js | boostrap</p>
</div>
<!-- <div class="card">
    <div class="card-body">
        <h5 class="card-title">Learn Angular - Languages used</h5>
        <p class="card-text">html | css | js | boostrap</p>
    </div>
</div> -->