<div class="container-fliud">
    <div class="row">
        <div class="col-md-7 p-0">
            <img src="https://media.istockphoto.com/id/1354441996/photo/image-of-open-antique-book-on-wooden-table-with-glitter-overlay.jpg?b=1&s=170667a&w=0&k=20&c=O_VZbgONe4WTXPOEvwKYezhqFkzAXpr2g-lCdpdj5FU="
                class="img-fluid" alt="book" style="width:100%; height: auto;">
        </div>
        <div class="col-md-5 p-5 text-center">
            <h1 class="fs-1"
                style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                Find your favorite books here</h1>
            <figure class="text-center px-5 py-3 fst-italic">
                <blockquote class="blockquote">
                    <p>"Books are, let's face it, better than everything else. If we played Cultural Fantasy Boxing
                        League, and made books go fifteen rounds in the ring against the best that any other art form
                        had to offer, then books would win pretty much every time."</p>
                </blockquote>
                <figcaption class="blockquote-footer p-1 text-end">
                    - by Nick Hornby
                </figcaption>
            </figure>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhBSmLnIMYojbu03tqlDKXAVexmvR0gbtuTg&usqp=CAU"
                style="width: 55%; height:auto" alt="boy with book">
        </div>
    </div>
</div>